input.hidden(type="range")&attributes(input)
if icon
	//- HTML
	-var t= attrs.fix? oldHTML : Array(attrs.max - attrs.min).fill(icon).join(bIcon);
	//- Render
	.input-range.input-rating(d-click="select" d-move="drag" d-movestart="drag" d-moveend="drag" class=attrs.className)
		.t-light !{t}
		.abs.track(style=`width: ${attrs.track}%`) !{t}
		//- .hidden.abs !{t}
else
	.input-range.progress.sm(d-click="select" d-move="drag" d-movestart="drag" d-moveend="drag" class=attrs.className)
		.track(style=`width: ${attrs.track}%`)
		//- Steps
		if attrs.step > 0
			-var p= Math.round((attrs.max - attrs.min) / attrs.step);
			-p= 100/p;
			-var st= p
			while st < 100
				i.step(style=`left: ${st}%`)
				-st+= p;
