input.hidden(type="range")&attributes(input)
if icon
	-var t= icon.repeat(attrs.max - attrs.min);
	.input-range.input-rating(d-click="select")
		.t-light !{t}
		.abs.track(style=`width: ${attrs.track}%`) !{t}
		//- .hidden.abs !{t}
else
	.input-range.progress.sm(d-click="select")
		.track(style=`width: ${attrs.track}%`)
		//- Steps
		if attrs.step > 0
			-var p= Math.round((attrs.max - attrs.min) / attrs.step);
			-p= 100/p;
			-var st= p
			while st < 100
				i.step(style=`left: ${st}%`)
				-st+= p;
