input.hidden(type="hidden")&attributes(input)
//- header
-var CoreHTML= Core.html;
unless attrs.noHeader
	|!{CoreHTML.inputDateHeader(locals)}
	
//- Body
case attrs.currentView.name
	when 'time'
		|!{CoreHTML.inputDateTime(locals)}
	when 'days'
		|!{CoreHTML.inputDateDays(locals)}
	when 'months'
		|!{CoreHTML.inputDateMonths(locals)}
	default
		|!{CoreHTML.inputDateYears(locals)}
	
